Repository guraogr/resume: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: storybookの導入とLint errorの修正
  .eslintignore
  .eslintrc.js
  .prettierrc.js
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: Mantine & Tanstack Queryの導入
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --write

feat: 環境設定ファイルの追加
  .env
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier --write

feat: storybookファイルの追加
  .storybook/main.js
  .storybook/preview.js
Due: none

feat: storybookの設定でmantineが動くように実装
  .storybook/preview.tsx
Due: eslint --fix

feat: envのスキーマチェックを追加
  env/schema.ts
Due: eslint --fix

feat: 定数とスタイル定義を追加
  constans/index.ts
  constans/title.ts
  src/styles/Home.module.css
  src/styles/globals.css
  src/styles/theme.ts
Due: eslint --fix

feat: google fontの指定 & MantineProviderを追加
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: eslint --fix

feat: Headタグの作成
  src/features/misc/Head/index.tsx
Due: eslint --fix

feat: DefaultLayoutの実装 & プロフィールページの作成中
  src/layouts/Default.tsx
  src/pages/index.tsx
Due: eslint --fix

feat: ProfileCardコンポーネントの追加
  public/images/github.svg
  public/images/my_photo.png
  public/images/profile_bg.png
  src/features/ProfileCard/ProfileCard.stories.tsx
  src/features/ProfileCard/index.tsx
Due: eslint --fix

feat: Headerコンポーネントの作成
  src/components/Header/index.tsx
Due: eslint --fix

fix: themeファイルの改善
  constans/index.ts
  constans/title.ts
  src/styles/colors.ts
  src/styles/theme.ts
Due: eslint --fix

fix: Typescriptの設定の修正 & preview.tsxにコメント追加
  .storybook/preview.tsx
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix: constansフォルダをsrcに移動
  src/constans/index.ts
  src/constans/title.ts
Due: eslint --fix

feat: useScreenの作成
  src/hooks/useScreen.ts
Due: eslint --fix

fix: パス変更など軽微な修正
  src/features/misc/Head/index.tsx
  src/layouts/Default.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --fix

feat: company_logoの追加
  public/images/company_logos/alaki.png
  public/images/company_logos/colors.png
  public/images/company_logos/craftbank.png
  public/images/company_logos/dap.png
  public/images/company_logos/fitcrew.png
  public/images/company_logos/jtamas.png
  public/images/company_logos/knocklearn.png
  public/images/company_logos/newtral.png
  public/images/company_logos/visional.png
  public/images/company_logos/yumemi.png
Due: none

feat: 定数の追加 | Textコンポーネントの作成
  src/components/ui/Text/index.tsx
  src/constans/index.ts
  src/constans/typography.ts
Due: eslint --fix

feat: typography, spacingを追加 | Textコンポーネントを修正
  src/components/ui/Text/index.tsx
  src/constans/index.ts
  src/styles/typography.ts
Due: eslint --fix

feat: topページの修正
  src/layouts/Default.tsx
  src/pages/index.tsx
Due: eslint --fix

feat: TextCardコンポーネントの作成
  src/features/TextCard/index.tsx
Due: eslint --fix

feat: profilePageの作成途中
  public/images/avatar.png
  src/components/page/profile/index.tsx
  src/components/page/profile/layout.tsx
Due: eslint --fix

feat: Headerコンポーネントの作成(PCのみ)
  src/components/Header/index.tsx
  src/components/ui/Header/Header.stories.tsx
  src/components/ui/Header/index.tsx
Due: eslint --fix

feat: storybookが起動しない問題をstorybook-addon-nextを導入して解決
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write

feat: profilecard.storiesを修正
  src/features/ProfileCard/ProfileCard.stories.tsx
Due: eslint --fix

fix: 軽微な修正
  public/images/company_logos/visional.svg
  public/images/my_photo.png
  src/assets/Card/index.tsx
Due: eslint --fix

feat: プラグインの追加 | 軽微な修正
  .env
  .eslintrc.js
  .gitignore
  aspida.config.js
  env/schema.ts
  package.json
  src/features/ProfileCard/ProfileCard.stories.tsx
  src/styles/globals.css
  yarn.lock
Due: eslint --fix, prettier --write

feat: validatorsの追加 | apiの型を追加
  env/validators.ts
  src/api/types.ts
  src/components/page/profile/layout.tsx
  src/features/ProfileCard/index.tsx
  src/features/TextCard/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix

feat: Footerコンポーネントの作成(PCのみ)
  src/components/ui/Footer/Footer.stories.tsx
  src/components/ui/Footer/index.tsx
Due: eslint --fix

feat: TextCardコンポーネントの作成
  src/components/ui/TextCard/TextCard.stories.tsx
  src/components/ui/TextCard/index.tsx
Due: eslint --fix

feat: constainsにpathとグロナビを追加
  src/constans/index.ts
Due: eslint --fix

feat: HistorySectionを作成
  src/components/page/profile/components/HistorySection.tsx
Due: eslint --fix

feat: ProfileSectionを作成
  src/components/page/profile/components/ProfileSection.tsx
Due: eslint --fix

feat: PhilosophySectionを作成
  src/components/page/profile/components/PhilosophySection.tsx
Due: eslint --fix

feat: Profileページのローカルコンポーネントを作成
  src/components/page/profile/components/ui/Heading.tsx
  src/components/page/profile/components/ui/ListItem.tsx
  src/components/page/profile/components/ui/SubHeading.tsx
Due: eslint --fix

feat: プロフィールページの作成途中
  src/components/page/profile/index.tsx
Due: eslint --fix

feat: apiClientの作成
  src/lib/apiClient.ts
Due: eslint --fix

feat: TextBoxコンポーネントの作成
  src/components/ui/TextBox/TextBox.stories.tsx
  src/components/ui/TextBox/index.tsx
Due: eslint --fix

feat: Tagコンポーネントの作成
  src/components/ui/Tag/Tag.stories.tsx
  src/components/ui/Tag/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts.tsx,json,md}
